body {
  font-family: 'Karla', sans-serif;
  background-color: #e5eff5;
}
h1{
  color: #2ab2af;
}

.content {
  max-width: 700px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
}

.join {
  padding: 50px;
}
.subline{
  color: #c0df34;
}
.gain {
  color: #98a6bd;
}
.cyanboxes {
  display: flex;
  justify-content: center;

}

.box {
  flex-basis: 100%;
  padding: 50px;
  color: #fff;
}

.subs {
  background-color: #2ab2af;
  border-bottom-left-radius: 10px;
}
button{
  background-color:#c0df34;

  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;


}

.why {
  background-color: #2ab2afbb;
  border-bottom-right-radius: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
